.settings-select  {
    width: 300px;
    margin: auto;
    margin-left: 350px;
    padding: 5px;
    margin-top: -40px;
  }

.settings-label {
    margin-left: -350px;
}

@media(max-width:1200px){

}

@media(max-width:992px){

}

@media(max-width:767px){

}