.questionBox{
    font-family: 'Poiret One', cursive;
    font-size: 60;
    background-color: rgba(255, 168, 128, 0.332);
    border-radius: 25px;
    padding: 5px;
    margin: 50px;
}
.questionCount{
    text-align: left;
    margin-left: 5%;
}
.resultsRow{
    text-align: center;
}
.answerOption{
    text-align: left;
    margin-left: 33%;
    font-size: 20px;
}
.quizLabel{
    margin-left: 5px; 
}