.card-image {
    margin: 10px;
    width: 90px;
}

h2 {
    margin-bottom: 50px;
}

#visa {
    margin-left: -35px;
}

@media(max-width:1190px){
    #payment-btn {
        margin-left: -15px;
    }
}

@media(max-width:980px){
    #payment-btn {
        margin-left: -35px;
    }
}


@media(max-width:767px){
    #payment-btn {
        margin-right: 30px;
    }

    #cvv {
        margin-top: 10px;
    }

    #number {
        margin-top: -10px;
    }

    #month {
        margin-top: -10px;
        margin-bottom: 10px;
    }

    #year {
        margin-bottom: 10px;
    }
     
    #images {
        margin-left: 150px;
    }


    .card-image {
        width: 90px;
        margin: 35px;
    }

    #visa {
        margin-left: 70px;
    }

    #payment-btn {
        margin-left: 35px;
    }

}

@media(max-width:513px){
    .payment-input {
        width: 430px;
    }

    .card-image {
        width: 90px;
        margin: 25px;
    }

    #visa {
        margin-left: 40px;
    }
}

@media(max-width:450px){
    .payment-input {
        width: 360px;
    }

    .card-image {
        width: 90px;
        margin: 10px;
    }

    #visa {
        margin-left: 40px;
    }
}
