.login-input {
    margin-right: 5px;
    width: 180px;
 }

@media(max-width:1200px){
.login-input {
    width: 150px;
}

}

@media(max-width:992px){
    #sign-up-form {
        margin-left: -20%;
    }
}

@media(max-width:768px){
    #sign-up-form {
        margin-left: 40%;
    }
}

@media(max-width:700px){
    #sign-up-form {
        margin-left: 40%;
    }

    .login-input {
        width: 140px;
    }
}

@media(max-width:600px){
    #sign-up-form {
        margin-left: 30%;
    }

    .login-input {
        width: 120px;
    }
}

@media(max-width:450px){
    #sign-up-form {
        margin-left: 10%;
    }
}