#pins-image {
    margin-top: 60px;
    width: 350px;
    height: 225px;
}

#quiz-image {
    width: 300px;
    height: 300px;
    margin-top: 100px;
}

#chat-image {
    margin-top: 50px;
    width: 320px;
    height: 220px;
}

#shop-image { 
    margin-top: 70px;
    height: 310px;
    width: 250px;
}

@media(max-width:991px) {
    #chat-image {
        margin-top: 100px;
    }

    #pins-image {
        margin-top: 50px;
        width: 270px;
        height: 220px;
    }

}

@media(max-width:767px) {
    #pins-image {
        display:block;
        margin:0 auto; 
        width: 300px;
        height: 225px;   
    }

    #shop-image {
        display:block;
        margin:0 auto;
    }

    #chat-image {
        margin-top: 50px;
        width: 80%;
        height: auto;
    }

    #first-button {
        margin-bottom: 30px;
    }
}

@media(max-width:550px) {
    #shop-image {
        display:block;
        margin:0 auto;
        height: 300px;
    }

}


