#pins-image {
    margin-top: 30px;
}

#quiz-image {
    width: 350px;
    height: 350px;
    margin-top: 60px;
}

#chat-image {
    margin-top: 50px;
    width: 100%;
    height: auto;
}

#shop-image { 
    height: 350px;
    margin-top: 70px;
}
